[BOT]
TOKEN=
SDXL_SOURCE=LOCAL

[LOCAL]
SERVER_ADDRESS=127.0.0.1:8188
COMFY_DIR=

[PROMPT_TEMPLATE]
POS=masterpiece, best quality, amazing quality, very aesthetic, absurdres, ultra detailed face, ultra detailed eyes, 
NEG=bad quality, worst quality, worst detail, sketch, censor, 

[BASE_SAMPLER_CFG]
SAMPLER=euler_ancestral
SCHEDULER=karras
STEPS=17
CFG=5

[REF_SAMPLER_CFG]
SAMPLER=euler
SCHEDULER=karras
STEPS=20
CFG=6

[CHECKPOINT]
CHECKPOINT_NAME=YOUR_CHECKPOINT_NAME_HERE.safetensors

[LORA]
LORA_NAME=YOUR_LORA_NAME_HERE.safetensors
STRENGTH=0.8

[VAE]
VAE_NAME=YOUR_VAE_NAME_HERE.safetensors

[TEXT2IMG]
CONFIG=comfyUI-workflows/text2img_config.json
CHECKPOINT_NODE=4
PROMPT_NODES=25
NEG_PROMPT_NODES=28
RAND_SEED_NODES=17
SAMPLER_NODES=17
LORA_NODES=22
VAE_NODES=23
LATENT_NODE=21
WIDTH=1024
HEIGHT=1317

[IMG2IMG]
CONFIG=comfyUI-workflows/img2img_config.json
CHECKPOINT_NODE=1
PROMPT_NODES=2
NEG_PROMPT_NODES=3
RAND_SEED_NODES=4
FILE_INPUT_NODES=5
SAMPLER_NODES=4
LORA_NODES=10
VAE_NODES=9

[UPSCALE]
CONFIG=comfyUI-workflows/upscale_config.json
CHECKPOINT_NODE=1
PROMPT_NODES=2
NEG_PROMPT_NODES=3
RAND_SEED_NODES=4
FILE_INPUT_NODES=5
SAMPLER_NODES=4
LORA_NODES=11
VAE_NODES=9