[BOT]
token = YOUR_BOT_TOKEN_HERE
sdxl_source = LOCAL

[LOCAL]
server_address = 127.0.0.1:8188
comfy_dir = YOUR_COMFYUI_DIRECTORY_HERE

[PROMPT_TEMPLATE]
pos = masterpiece, best quality, amazing quality, very aesthetic, absurdres, ultra detailed face, ultra detailed eyes.
neg = worst quality, low quality, bad anatomy, deformed hands, extra fingers, extra finger, missing finger, mutated fingers, poorly drawn face, blurry, text, watermark.

[BASE_SAMPLER_CFG]
sampler = er_sde
scheduler = simple
steps = 20
cfg = 4.5

[REF_SAMPLER_CFG]
sampler = er_sde
scheduler = simple
steps = 20
cfg = 4.5

[CHECKPOINT]
checkpoint_name = YOUR_CHECKPOINT_NAME_HERE.safetensors

[UNET]
unet_name = YOUR_UNET_NAME_HERE.safetensors

[LORA]
lora_name = YOUR_LORA_NAME_HERE.safetensors
strength = 1.0

[VAE]
vae_name = YOUR_VAE_HERE.safetensors

[TEXT2IMG]
config = comfyUI-workflows/text2img_config.json
width = 896
height = 1152

[IMG2IMG]
config = comfyUI-workflows/img2img_config.json

[UPSCALE]
config = comfyUI-workflows/upscale_config.json

